.tower {
  height: 100px;
  width: 100px;
  float: left;
  border: solid 1px;
}

#d3 {
  height: 31px;
  width: 100px;
  background-color:red;
  border: solid 1px;
  text-align: center ;
}

#d2 {
  height: 31px;
  width: 75px;
  background-color:blue;
  border: solid 1px;
  text-align: center ;
}

#d1 {
  height: 31px;
  width: 50px;
  background-color:green;
  border: solid 1px;
  text-align: center ;
}